<h1>📝</h1>
<p>This is from ToDos component.</p>
<ul>
<li>do something.</li>
<li>do something else.</li>
<li>somehing new.</li>
<li>something different.</li>
</ul>

<ul><h1>Using service directly</h1>
    <li>{{todosService.todoItems[0].title}}</li>
    <li>{{todosService.todoItems[1].title}}</li>
</ul>

<ul><h1>Using Signal</h1>
<li>{{todoItems()[0].title}}</li>
<li>{{todoItems()[1].title}}</li>
</ul>

<ul><h1>Using Signal + Loop</h1>
@for (item of todoItems(); track $index) {
<li>{{$index + 1}} - {{item.title}}</li>
}
</ul>

<ul class = "todos"><h1>Using Signal + API + Loop</h1>
    <p *ngIf="!todoItemsfromAPI().length">Loading...</p>
    @if (!todoItemsfromAPI().length) {
        <p>Loading... (2)</p>
    }
    @for (item of todoItemsfromAPI(); track $index) {
        <app-todo-item (todoToggledOut)="updateToDoItem($event)" [todoItem]="item" [todoItemId]="$index" />
    }
</ul>

